/* **** media **** */

@media only screen and (max-width: 767px) { // smaller than desktop

	.weather-widget {
		width: 100%;
		clear: both;
		margin-top: 25px;
	}

	#sb-slidebar-content {
		#slidebar-menu {
			.mobile-sub-menu-controller {
			//	font-size: 22px;
			}
		}

	}
	#main-wrapper {
		#header {
			.logo {
			//	padding-top: 5px;
			}
			#header-controls-right {
			//	line-height: 120px;
			}
		}
		#main {
		//	background-color: $wakeland-ltblue;
		}
		#hero-section {
		//	top: 120px;
		}
		.title-module-wrap.page-title-module-custom {
			.page-title-custom {
				text-align:center;
			}
		}
		#content {
		//	padding-top: 120px;
			.be-text-inner {
		//		width: 92%!important;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.weather-widget canvas {
		width: 135px!important;
		height: 135px!important;
	}
}
