/* styling for woocommerce */
.woocommerce-message {
    background: $goldgrad-bkup;
    background: $goldgrad-moz;
    background: $goldgrad-web;
    background: $goldgrad-lin;
    border: 1px solid $golder-border;
    color: black;
}
